.gallery2 {
  background: url('/img/dust_scratches.png');
  overflow-y: scroll;
}

.gallery-nav2 {
  background: rgba(162, 172, 197, 0.1);
  display: flex;
  grid-area: nav;
  width: 100%;
  height: 7rem;
  padding: 1rem;
  margin-bottom: 4rem;
  cursor: default;
  // background: url('/img/prism.png');
  // background: linear-gradient(
  //   180deg,
  //   rgba(214, 214, 214, 0.329) 0%,
  //   rgba(255, 255, 255, 1) 100%
  // );
  // border-bottom: #9c4f49 3px solid;
  .logo2 {
    margin-left: 5rem;
    margin-top: 1.6rem;
    font-size: 3rem;
    font-family: $main-font;
    flex: 63%;
    color: rgb(61, 61, 61);
  }

  .nav2 {
    flex: 1 37%;
    display: flex;
    margin: 1rem;

    .nav-item2 {
      list-style: none;
      margin: 1rem 2rem;

      a {
        text-decoration: none;
        font-size: 2.6rem;
        color: rgb(49, 49, 49);
        transition: opacity linear 0.4s;

        &:hover {
          opacity: 0.6;
        }
      }
    }
  }
}

#active {
  color: rgb(90, 90, 90);
  border-top: 3px solid rgb(156, 79, 73);
  border-bottom: 3px solid #9c4f49;

  &:hover {
    opacity: 0.7;
  }
}

.gallery-info2 {
  .container2 {
    margin: 3em 7em;

    .work2 {
      display: grid;
      grid-gap: 1em;
      grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));

      img {
        opacity: 0.8;
        border-bottom: #9c4f49 1px solid;
        // border-right: #9c4f49 2px solid;
        box-shadow: 2px 1px 5px 0px #292626;
        border-top: #9c4f49 1px solid;
        border-left: #9c4f49 1px solid;
        width: 400px;
        height: 300px;
        transition: 0.5s linear opacity;

        &:hover {
          opacity: 0.6;
        }
      }
    }
  }
}
@media (max-width: 700px) {
  .gallery-nav2 {
    height: 5rem;
    padding: 0;

    .logo2 {
      margin: 1.5rem 2rem;
      font-size: 1.7rem;
    }

    .nav2 {
      display: none;
    }
  }

  .gallery-info2 {
    .container2 {
      margin: 3em;
      .work2 {
        grid-template-columns: 1fr;
        img {
          width: 300px;
          height: 200px;
        }
      }
    }
  }
}
