$font-color: rgb(19, 19, 19);
$sec-font-color: rgb(65, 65, 65);
$menu-overlay: rgba(51, 63, 66, 0.4);
$main-font: 'Cinzel', serif;
$nav-color: #d0dbd2;
$body-color: #f8eceb;

@mixin easeOut {
  transition: all 0.8s ease-in-out;
}
