@import 'vars';

* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  margin: 0;
  font-family: 'Cinzel', serif;
  font-size: 35px;
  cursor: default;
  overflow: hidden;

  .icons {
    position: absolute;
    bottom: 5%;

    a {
      color: #9c4f49;
      text-decoration: none;
      font-size: 1.4rem;
      margin: 0.5rem 0.5rem 0 0.5rem;

      &:hover {
        opacity: 0.7;
        @include easeOut();
      }
    }
  }
}

.landing {
  background-image: url('../img/landing_small.jpg');
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;

  .primary-heading {
    font-size: 2rem;
    position: absolute;
    top: 7%;
    letter-spacing: 0.06em;
    color: rgb(19, 19, 19);
  }

  .secondary-heading {
    font-size: 1.8rem;
    position: absolute;
    top: 40%;
    margin-bottom: 1rem;
    color: rgb(65, 65, 65);
  }

  // THE BUTTON

  .main-button {
    position: absolute;
    padding: 1rem;
    width: 12rem;
    bottom: 17%;
    font-size: 1.8rem;
    font-family: 'Cinzel', cursive;
    background: #9c4f49;
    color: #fff;
    text-decoration: none;
    text-align: center;

    &:hover {
      opacity: 0.7;
      @include easeOut();
    }
  }

  // tablet fixes
  @media (min-width: 760px) {
    .primary-heading {
      font-size: 3.4rem;
      top: 3%;
    }

    .secondary-heading {
      font-size: 3rem;
    }

    .main-button {
      font-size: 2.3rem;
    }

    .icons a {
      font-size: 1.8rem;
    }
  }

  @media (min-width: 1200px) {
    .landing {
      background: url('../img/landing.jpeg');
    }

    .primary-heading {
      font-size: 5.5rem;
      top: 3%;
    }

    .secondary-heading {
      font-size: 4rem;
      top: 20%;
    }

    .main-button {
      font-size: 2.5rem;
      bottom: 25%;
    }

    .icons {
      bottom: 10%;
    }

    .icons a {
      font-size: 2.3rem;
    }
  }
}

@media (min-width: 1200px) {
  .landing {
    background: url('../img/landing.jpeg') center;
    background-size: cover;
  }
}
